@model IEnumerable<Pharmacy.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Delete Order</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.medicine_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.medicine_id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.medicine_id })
        </td>
    </tr>
}

</table>
<div>
    <a href="#">@Html.ActionLink("Logout", "Index", "Home")</a>
</div>