@model Pharmacy.Models.Pharmacist
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div id="login-div">
    @using (Html.BeginForm("LoginPharmacist", "Login", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.id)
        <div class="form-group">
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firstname)
            @Html.EditorFor(model => model.Firstname)
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Lastname)
            @Html.EditorFor(model => model.Lastname)
            @Html.ValidationMessageFor(model => model.Lastname)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <button type="submit" class="btn btn-primary" value="Login" name="loginbtn">Login</button>

    }
</div>